/* Advantages */

.advantages {
}

.advantages__list {
    display: grid;

    column-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
}

.advantages__item {
    padding: 24px;
}

.advantages__image {
    display: block;

    margin-block-end: 20px;
}

.advantages__subtitle {
    font-size: 22px;

    margin-block-end: 16px;
}

.advantages__text p {
    margin: 0;
}

.advantages__text p:not(:last-child) {
    margin-block-end: 16px;
}

.advantages__text b {
    font-weight: 600;
}
