/* Button */

.button {
    font-family: var(--font-family-text);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;

    display: inline-block;

    padding: 20px 60px;

    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: background-color;
    text-align: center;
    text-decoration: none;

    color: var(--color-white);
    border: none;
    border-radius: 0.8em;
    background-color: var(--color-crimson);
}

.button:hover {
    background-color: var(--color-shiraz);
}
