/* Button */

.button {
    font-family: var(--font-family-text);
    font-weight: 500;

    display: inline-block;

    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: background-color;
    text-align: center;
    text-decoration: none;

    color: var(--color-black);
    border: none;
    border-radius: 0.8em;
    background-color: var(--color-amber);
}

@media (any-hover: hover) {
    .button:hover {
        background-color: var(--color-orange-peel);
    }
}

@media (max-width: 767px) {
    .button {
        font-size: 20px;
        line-height: 28px;

        padding: 16px 40px;
    }
}

@media (min-width: 768px) {
    .button {
        font-size: 24px;
        line-height: 32px;

        padding: 20px 40px;
    }
}
