/* Company */

@import "./statistics.css";

.company {
    scroll-margin-top: var(--scroll-margin);
}

.company__columns {
    display: grid;
}

.company__subtitle {
    margin-block-end: 16px;
}

.company__text {
    margin: 0;

    margin-block-end: 32px;
}

.company__image {
    width: 100%;

    border-radius: 32px;

    object-fit: cover;
}

@media (max-width: 767px) {
    .company__title {
        margin-block-end: 32px;
    }

    .company__columns {
        gap: 16px;
    }

    .company__info {
        padding: 20px;
    }

    .company__image {
        height: auto;
        min-height: 320px;
    }
}

@media (min-width: 768px) {
    .company__title {
        margin-block-end: 48px;
    }

    .company__columns {
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 460px), 1fr));
    }

    .company__info {
        padding: 28px;
    }

    .company__image {
        height: 100%;
    }
}
