/* Faq */

.faq {
}

.faq__container {
}

.faq__title {
    margin-block-end: 48px;
}

.faq__card:not(:last-child) {
    margin-block-end: 24px;
}

.faq__question {
    font-size: 24px;

    display: flex;
    align-items: center;

    padding: 40px;

    cursor: pointer;
    user-select: none;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: color;

    border-radius: 30px;

    column-gap: 12px;
}

.faq__question:hover {
    color: var(--color-crimson);
}

.faq__question::-webkit-details-marker {
    display: none;
}

.faq__icon {
    position: relative;

    display: block;

    width: 16px;
    height: 16px;
}

.faq__icon::before,
.faq__icon::after {
    position: absolute;
    top: 0;
    left: 7px;

    width: 2px;
    height: 100%;

    content: "";

    background-color: currentColor;
}

@media (prefers-reduced-motion: no-preference) {
    .faq__icon::before,
    .faq__icon::after {
        transition-timing-function: ease;
        transition-duration: 0.3s;
        transition-property: transform;
    }
}

.faq__icon::after {
    transform: rotate(90deg);
}

.faq__card[open] .faq__icon::before {
    transform: rotate(90deg);
}

.faq__card[open] .faq__icon::after {
    transform: rotate(270deg);
}

.faq__answer {
    margin: 0;
    padding: 40px;

    padding-block-start: 0;
}
