/* Hero */

.hero {
    position: relative;

    overflow: hidden;

    text-align: center;

    color: var(--color-white);
    background-color: var(--color-black-50);

    padding-block: 280px 172px;
}

.hero::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-image: url("../images/hero/bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
    .hero::before {
        animation: increaseBackground 40s both infinite linear;
    }
}

.hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__title {
    font-family: var(--font-family-heading);
    font-size: 52px;
    font-weight: 600;
    line-height: 1;

    margin: 0;

    letter-spacing: -1px;

    color: var(--color-white-80);

    margin-block-end: 32px;
}

.hero__text {
    font-size: 20px;
    font-weight: 500;

    max-width: 600px;
    margin: 0;
    margin-bottom: 52px;
}

.hero__contact {
}

@keyframes increaseBackground {
    50% {
        transform: scale(1.05) translate(5px, 5px);
    }

    to {
        transform: scale(1);
    }
}
