/* Main */

.main__hero {
    margin-block-end: var(--section-spacing-half);
}

.main__advantages {
    margin-block-end: var(--section-spacing);
}

.main__services {
    margin-block-end: var(--section-spacing);
}

.main__company {
    margin-block-end: var(--section-spacing);
}

.main__team {
    margin-block-end: var(--section-spacing);
}

.main__reviews {
    margin-block-end: var(--section-spacing);
}

.main__faq {
    margin-block-end: var(--section-spacing);
}
