/* Menu button */

.menu-button {
    display: flex;
    flex-direction: column;

    width: 36px;
    padding: 4px;

    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: color;

    color: inherit;
    border: none;
    background-color: transparent;

    row-gap: 4px;
}

.menu-button::before,
.menu-button::after {
    position: relative;
    top: 0;

    content: "";
}

.menu-button::before,
.menu-button::after,
.menu-button span {
    display: block;

    width: 100%;
    height: 4px;

    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: opacity, transform, top;

    border-radius: 8px;
    background-color: currentColor;
}

.menu-button--opened::before {
    top: 8px;

    transform: rotate(45deg);
}

.menu-button--opened::after {
    top: -8px;

    transform: rotate(-45deg);
}

.menu-button--opened span {
    opacity: 0;
}

@media (any-hover: hover) {
    .menu-button:hover {
        color: var(--color-orange-peel);
    }
}
