/* Reviews */

.reviews {
    scroll-margin-top: var(--scroll-margin);
}

.reviews__list {
    display: grid;
}

.reviews__photo {
    display: block;

    border-radius: 50%;
}

.reviews__name {
    margin-block-end: 12px;
}

.reviews__text {
    margin: 0;
}

@media (max-width: 767px) {
    .reviews__title {
        margin-block-end: 32px;
    }

    .reviews__list {
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    }

    .reviews__item {
        padding: 20px;
    }

    .reviews__photo {
        width: 120px;
        height: 120px;

        margin-block-end: 20px;
    }
}

@media (min-width: 768px) {
    .reviews__title {
        margin-block-end: 48px;
    }

    .reviews__list {
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews__item {
        padding: 28px;
    }

    .reviews__photo {
        width: 160px;
        height: 160px;

        margin-block-end: 24px;
    }
}
