/* Scroll top */

.scroll-top {
    display: block;

    padding: 10px;

    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: background-color, opacity, transform, visibility;

    color: inherit;
    border-radius: 50%;
    background-color: var(--color-white-80);
    box-shadow: 0 0 20px 0 var(--color-black-20);
}

.scroll-top:hover {
    background-color: var(--color-orange-peel);
}

.scroll-top__icon {
    display: block;

    fill: currentColor;
}
