/* Services */

@import "./services-card.css";

.services {
    scroll-margin-top: var(--scroll-margin);
}

.services__content {
    background-color: var(--color-mine-shaft);
}

.services__title {
    color: var(--color-white);
}

.services__list {
    display: grid;
}

.services__links {
    text-align: center;
}

@media (max-width: 767px) {
    .services__container {
        padding-inline: 0;
    }

    .services__content {
        padding: 24px 16px;
    }

    .services__title {
        margin-block-end: 32px;
    }

    .services__list {
        gap: 16px;
        margin-block-end: 24px;
    }
}

@media (min-width: 768px) {
    .services__content {
        padding: 48px 32px;

        border-radius: 32px;
    }

    .services__title {
        margin-block-end: 48px;
    }

    .services__list {
        gap: 24px;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 428px), 1fr));
        margin-block-end: 48px;
    }
}
