/* Team */

.team__list {
    display: grid;

    margin-block-end: var(--section-spacing-half);
}

.team__photo {
    display: block;

    width: 100%;

    border-radius: 32px;

    object-fit: cover;
}

.team__name {
    margin: 0;

    margin-block-end: 12px;
}

.team__position {
    margin: 0;
}

.team__links {
    text-align: center;
}

@media (max-width: 767px) {
    .team__title {
        margin-block-end: 32px;
    }

    .team__list {
        column-gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
        row-gap: 32px;
    }

    .team__photo {
        height: 320px;

        margin-block-end: 16px;
    }
}

@media (min-width: 768px) {
    .team__title {
        margin-block-end: 48px;
    }

    .team__list {
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);
    }

    .team__photo {
        height: 360px;

        margin-block-end: 24px;
    }
}
